version: 2
registries:
  github-octocat:
    type: git
    url: https://github.com
    username: x-access-token
    password: 
updates:
  - package-ecosystem: github-actions
    directory: "/"
    registries:
      - github-octocat
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
      timezone: "Europe/London"
    open-pull-requests-limit: 99
